@font-face {
    font-family: 'MagicSound';
    src: url('./MagicSound.ttf') format('truetype');
}

@font-face {
    font-family: 'Andria';
    src: url('./Andria.ttf') format('truetype');
}

* {
    background-color: #102B3F;
    color: #E2CFEA;
}

.test, #content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2vw;
}

.test {
    margin-bottom: 5vw;
    text-align: left;
    justify-content: center;
}



#divRandom {
    background-color: #E2CFEA;
    width: 33%;
    padding: 2% 0%;
    text-align: center;
    border-radius: 7px;
    color: #102B3F;
}

#container {
    display: flex;
    flex-direction: row;

}

.boutonCanva {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;

}

.dedans {
    display: flex;
    width: 45%;
    flex-direction: column;
    justify-content: space-between;
}


h1 {
    font-family: 'Andria';
    margin: 3vw 0vw;
    font-size: 5vw;
    color: #A06CD5;
}

h2 {
    font-family: "MagicSound";
}

video {
    width: 50vw;
    height: auto;
 
    right: 0px;
    top: 0px;
    border-radius: 0% 0% 0% 100%;
    position: fixed;
}

button {
    width: 7vw;
    height: 3vw;
    background-color: #E2CFEA;
    color: #102B3F;
    border-radius: 7px;
    margin: 1vw 0vw;
    text-align: center;
    font-family: 'MagicSound';
    border: 2px solid #102B3F;
    transition: border 0.2s ease-in-out;
    background-color: #E2CFEA;

}

button:hover {
    background-color: transparent;
    border: 2px solid #E2CFEA;
    color:#E2CFEA;
}

canvas {
    border: 10px solid #A06CD5;
    cursor: pointer;
    border-radius: 25px;
    background-color: white;

}
.Random{
    display: flex;
    justify-content: center ;
    /* width: 50%; */
    margin-top: 5vw;
    flex-direction: row;
}

#motButton{
    margin : 0vw 2vw;
}